
body{
    background-color: #e0f7ff9e!important;
    background:url(../img/bg.png);
}

    #text{
     font-weight:900;
       font-size: 30px; 
        margin-bottom: 15px;
    }

    .avatarka{
        height: 400px;
        width: 100%;
        background-image: url(../img/cv.jpg);
        background-size: cover;
        border:1px solid;
        border-radius: 25%;
        background-position: center;
    }

.avatarka:after{ 
    position: absolute;
    content: '';
    top: -2px; bottom: -2px;
    left: 12px; right: 12px;
    background: linear-gradient(312deg, rgba(16,230,231,0.865983893557423) 30%, rgba(97,9,121,0.33657212885154064) 64%);
    z-index: -1;
    border-radius: 25%;
    
}


    li,.text{
        font-size: 20px;
        margin-top: 20px;
    }

    li::first-letter{
       background-color: aquamarine;  
    }

    .mWorks{
    border:2px solid;
    margin-top: 20px;
        padding: 0 !important;
    overflow: hidden;
        
    }


    .mWorks img{
        object-fit: cover;
        height: 300px;
        width: 100%;
         transition: transform .6s ease;
    }


    .mWorks img:hover{transform: scale(1.3);}
    .mWorks:hover{color:#3fd0a8;}
